
<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Renk ekle</h5>
      </div>
      <div class="card-body">
        <label for="description">Renk Adı</label>
        <div class="form-group">
          <input [(ngModel)]="colorName" type="text"   class="form-control"
            placeholder="" />
        </div>
      </div>

      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
